/* Main frame */

@font-face {
    font-family: mainFont;
    src: url(essays1743/Essays1743.woff);
}


body {
	margin: 0px;
	position: relative;
	top:-24px;
}
#container {
	width: 320px;
	height: 540px;
}

/* Character selection */
.characters {
	margin: 10px;
	margin-top: 24px;
}
.character img {
	width: 300px;
	margin-top: 8px;
}


/* Story */

.story{
	
	
	margin-top:2px;
    font-family:mainFont;
	
}

.top {
	
	position:absolute;
	left:63px;
	top:40px;
	width:230px;
	line-height: 17px;
}


.middle {
	
	position:absolute;
	left:15px;
	top:247px;
	width:240px;
	line-height: 17px;
}

.bottom {
	
	position:absolute;
	left:15px;
	top:456px;
	width:280px;
	line-height: 17px;
}
.starsTotal {
    position: absolute;
       left:240px;
	   top:35px;
	   background-color:#996aba;
	   font-family:mainFont;
	   height:30px;
	   width: 70px;
	   
	border-style:solid;
	border-width:1px;
	border-color:black;
}



.starsTotal img{
	
	width:25px;
	
}


.starsTotal.disabled {
	
	display:none;
	
}


/* buttons */


.button.disabled{
	
   display:none;
	
}


.previous.button{
	left:10px;
	font-size:150%;
	font-family:Tahoma;
	
	top:-50px;
	position:relative;
	
	
	    height: 30px;
	    width: 30px;
	    line-height: 30px;
        
		border-style:solid;
		border-width:1px;
		border-color:black;
	    background-color: #996aba;
	    color: black;
	    text-align: center;
	
  	
}
.next.button{
	left:267px;
	font-size:150%;
	font-family:Tahoma;
	

	top:529px;
	position:absolute;
	
	
	    height: 30px;
	    width: 30px;
	    line-height: 30px;

		border-style:solid;
		border-width:1px;
		border-color:black;

	    background-color: #996aba;
	    color: black;
	    text-align: center;
}

/* PopUp */
.popUpContainer.disabled {
	display:none;	
}

.popUpContainer{
	height:568px;
	width:320px;
	left:0px;
	top:0px;
background-color: rgba(0, 0, 0, 0.6);
	position:absolute;
}

.stars img{
	width:25px;
}

.hint span{
	color:black;
}
