/* Main frame */

@font-face {
    font-family: mainFont;
    src: url(essays1743/Essays1743.woff);
}


body {
	margin: 0px;
	position: relative;
	top:-24px;
}
#container {
	width: 320px;
	height: 540px;
}

/* Character selection */
.characters {
	margin: 10px;
	margin-top: 24px;
}
.character img {
	width: 300px;
	margin-top: 8px;
}


/* Story */

.story{
	
	
	margin-top:2px;
    font-family:mainFont;
	
}

.top {
	
	position:absolute;
	left:63px;
	top:40px;
	width:230px;
	line-height: 17px;
}


.middle {
	
	position:absolute;
	left:15px;
	top:247px;
	width:240px;
	line-height: 17px;
}

.bottom {
	
	position:absolute;
	left:15px;
	top:456px;
	width:280px;
	line-height: 17px;
}
.starsTotal {
    position: absolute;
       left:240px;
	   top:35px;
	   background-color:#ffffff;
	   font-family:mainFont;
	   height:30px;
	   width: 70px;
}



.starsTotal img{
	
	width:25px;
	
}


.starsTotal.disabled {
	
	display:none;
	
}


/* buttons */


.button{
	
	display:inline-block;
	top:-40px;
	position:relative;
	
	display: block;
	    height: 60px;
	    width: 60px;
	    line-height: 60px;

	    -moz-border-radius: 30px; /* or 50% */
	    border-radius: 30px; /* or 50% */

	    background-color: black;
	    color: white;
	    text-align: center;
}

.button.disabled{
	
  
   display:none;
	
}

.button.enabled{
	
  
   
	
	
	
}

/* PopUp */
.popUp.disabled {
	display:none;	
}

