/* Install fonts */
@font-face {
    font-family: mainFont;
    src: url(essays1743/Essays1743.woff);
}

/* Main frame */
html { 
	/* Disable scrolling */
	/* overflow: hidden; */
}
body {
	margin: 0px;
	background-color: #ddccbf
}
#container {
	width: 320px;
	height: 568px;
}

/* Character selection */
.characters {
	margin: 10px;
	margin-top: 22px;
}
.character img {
	width: 300px;
	margin-top: 8px;
}

/* Buttons */
.button.disabled {
   display:none;	
}

/* Story */
.story {	
    font-family:mainFont;
}
.top {
	position:absolute;
	left:63px;
	top:40px;
	width:230px;
	line-height: 17px;
}
.middle {	
	position:absolute;
	left:15px;
	top:247px;
	width:240px;
	line-height: 17px;
}
.bottom {
	position:absolute;
	left:15px;
	top:453px;
	width:280px;
	line-height: 17px;
}
.previous.button {
	left: 10px;
	top: -118px;
	height: 100px;
	width: 100px;
	position:relative;	
}
.previousButtonArrow{
	font-size:150%;
	font-family:Tahoma;
	height: 30px;
	width: 30px;
	position: relative;
	top: 68px;
	line-height: 30px;
	border-style:solid;
	background-color: rgba(0,0,0,0.1);
	color: black;
	text-align: center;  	
}
.next.button{
	left: 205px;
	top: 460px;
	height: 100px;
	width: 100px;
	position:absolute;
}
.nextButtonArrow{
	font-size:150%;
	font-family:Tahoma;
	height: 30px;
	width: 30px;
	position:relative;
	top:68px;
	left: 68px;
	line-height: 30px;
	border-style:solid;
	background-color: rgba(0,0,0,0.1);
	color: black;
	text-align: center;
}
.storyPageNumber{
	position:absolute;
	top: 529px;
	left: 150px;
}

/* Question */
.questionText{
	position: absolute;
	top: 290px;
	line-height: 20px;
	height: 80px;
	left: 16px;
	width: 288px;
}
.storyQuestionNumber{
	position:absolute;
	top: 355px;
	left: 254px;
}

.starsTotal {
    position: absolute;
	left:240px;
	top:35px;
	background-color:#996aba;
	font-family:mainFont;
	height:30px;
	width: 70px;
	border-style:solid;
	border-width:1px;
	border-color:black;
}
.starsTotal img {
	width:25px;	
}
.starsTotal.disabled {
	display:none;	
}
.question span{
	font-family:mainFont;
}
.hint{
	position: absolute;
	left: 201px;
	top: 509px;
	width: 100px;
	height: 40px;
	background-color: #996aba;
	border: 1px solid;
}
.hint span {
	color:black;
	position:relative;
	left: 20px;
	top: 5px;
}
.answers {
	position: absolute;
	left: 15px;
	top: 359px;
	font-family:mainFont;
}
.answer {
	height: 27px;
	margin-top: 5px;
	font-family: mainFont;
	color: black;
	background-color: #996aba;
	border: 1px solid;

}
.answer.disabled {
	display:none;
}
.answer span{
	padding: 8px;
	top: -2px;
	position:relative;
}
.questionStars span{
	position: absolute;
	top: 498px;
	left: 15px;
}

/* PopUp */
.popUpContainer.disabled {
	display:none;	
}
.popUpContainer {
	height:568px;
	width:320px;
	left:0px;
	top:0px;
	background-color: rgba(0, 0, 0, 0.6);
	position:absolute;
	text-align: center;
	vertical-align: middle;
}

.popUp{
	height:150px;
	width:280px;
	top:184px;
	left:20px;
	background-color:#ddccbf;
	position:absolute;
    border: 1px solid;
}
.popUpText {
    height: 200px;
	width: 256px;
	top: 15px;
	color: black;
	font-family: mainFont;
	position: absolute;
	margin: 12px;
	line-height: 15px;
}
.popUpButton {
	height: 36px;
	width: 150px;
	top: 95px;
	left: 62px;
	font-family: mainFont;
	color: black;
	background-color: #996aba;
	position: absolute;
	border: 1px solid;
}
.popUpStars{
	height:568px;
	width:280px;
	top:65px;
	left: 0px;
	position:absolute;
}
.popUpButton span{
	position:relative;
	text-align: center;
}	
.stars img {
	width:25px;
}
