/* Install fonts */
@font-face {
    font-family: mainFont;
    src: url(essays1743/Essays1743.woff);
}

/* Main frame */
html { 
	/* Disable scrolling */
	/* overflow: hidden; */
}
body {
	margin: 0px;
	position: relative;
	top:-24px;
}
#container {
	width: 320px;
	height: 568px;
}

/* Character selection */
.characters {
	margin: 10px;
	margin-top: 46px;
}
.character img {
	width: 300px;
	margin-top: 8px;
}

/* Buttons */
.button.disabled {
   display:none;	
}

/* Story */
.story {	
	margin-top:40px;
    font-family:mainFont;
}
.top {
	position:absolute;
	left:63px;
	top:40px;
	width:230px;
	line-height: 17px;
}
.middle {	
	position:absolute;
	left:15px;
	top:247px;
	width:240px;
	line-height: 17px;
}
.bottom {
	position:absolute;
	left:15px;
	top:456px;
	width:280px;
	line-height: 17px;
}
.previous.button {
	left:10px;
	font-size:150%;
	font-family:Tahoma;
	top:-50px;
	position:relative;
	height: 30px;
	width: 30px;
	line-height: 30px;
	border-style:solid;
	border-width:1px;
	border-color:black;
	background-color: #996aba;
	color: black;
	text-align: center;  	
}
.next.button{
	left:267px;
	font-size:150%;
	font-family:Tahoma;
	top:529px;
	position:absolute;
	height: 30px;
	width: 30px;
	line-height: 30px;
	border-style:solid;
	border-width:1px;
	border-color:black;
	background-color: #996aba;
	color: black;
	text-align: center;
}

/* Question */
.starsTotal {
    position: absolute;
	left:240px;
	top:35px;
	background-color:#996aba;
	font-family:mainFont;
	height:30px;
	width: 70px;
	border-style:solid;
	border-width:1px;
	border-color:black;
}
.starsTotal img {
	width:25px;	
}
.starsTotal.disabled {
	display:none;	
}
.hint span {
	color:black;
	position: absolute;
	left:60px;
	top:456px;
	width:280px;
}

.question span{
    position: absolute;
	left:15px;
	top:350px;
	font-family:mainFont;
}

.answers span{
	position: absolute;
	left: 15px;
	top: 500px;
	font-family:mainFont;
}

/* PopUp */
.popUpContainer.disabled {
	display:none;	
}
.popUpContainer {
	height:568px;
	width:320px;
	left:0px;
	top:0px;
	background-color: rgba(0, 0, 0, 0.6);
	position:absolute;
	text-align: center;
	vertical-align: middle;
}

.popUp{
	height:150px;
	width:280px;
	top:184px;
	left:20px;
	background-color:#ddccbf;
	position:fixed;
    border: 1px solid;
}
.popUpText {
	height:200px;
	width:280px;
	top:15px;
	color:black;
	position:absolute;
}
.popUpButton {
	height:20px;
	width:150px;
	top:75px;
	color:black;
	background-color:#996aba;
	position:absolute;
	border: 1px solid;
}
.popUpStars{
	height:568px;
	width:320px;
	top:40px;
	position:absolute;
}
.stars img {
	width:25px;
}
